//——————————————————————————————————————————————————————————————————————————————
// Common Design: Search
//——————————————————————————————————————————————————————————————————————————————
.cd-search__btn {
  height: 70px;
  color: $cd-dark-grey;

  svg {
    fill: $cd-dark-grey;
  }

  &:hover,
  &:focus,
  &[aria-expanded='true'] {
    color: $implementation-primary-dark;

    svg {
      fill: $implementation-primary-dark;
    }
  }

  // Reset upstream to always use the "large" icon as we don't have space
  // to display the icon + the text.
  @include desktop {
    svg {
      width: 26px;
      height: 26px;
      padding: 0;
    }

    .cd-search__btn-label {
      @include visually-hidden;
    }
  }
}

.cd-search__form {
  left: 0;
  right: 0;
}

.cd-search__submit {
  background-color: $implementation-secondary;

  &:hover,
  &:focus {
    background-color: $implementation-primary-dark;
  }
}
