.gho-needs-and-requirements__title {
  color: #111;
  font-size: 1.25em;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
  margin-bottom: -2rem;
}
.gho-needs-and-requirements {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.gho-needs-and-requirements-figure {
  padding: 1rem 0;
  border-style: solid;
  border-color: #ccc;
  border-width: 1px 0 0 0;
}
.gho-needs-and-requirements-figure:first-child {
  border-width: 0;
}
.gho-needs-and-requirements-figure__label {
  font-weight: bold;
}
.gho-needs-and-requirements-figure__label small {
  font-size: inherit;
  font-weight: normal;
}
.gho-needs-and-requirements-figure__value {
  font-weight: bold;
  font-size: 2.25em;
  color: #5391cb;
}

@media (min-width: 768px) {
  .gho-needs-and-requirements__title {
    margin-top: 2rem;
    margin-bottom: 0;
  }
  .gho-needs-and-requirements {
    display: flex;
    justify-content: space-between;
  }
  .gho-needs-and-requirements-figure {
    display: inline-block;
    flex: 1 0 33.33%;
    border-width: 0 0 0 1px;
    padding: 0 1.5rem;
  }
  [dir="ltr"] .gho-needs-and-requirements-figure:first-child {
    border-width: 0;
    padding-left: 0;
  }
  [dir="rtl"] .gho-needs-and-requirements-figure:first-child {
    padding-right: 0;
  }
  [dir="rtl"] .gho-needs-and-requirements-figure:last-child {
    border-width: 0;
  }
}
