/**
 * Base styles
 */
.gho-sub-article {
}

.gho-sub-article .field--name-field-hero-image.gho-bleed {
  padding: 0;
}

.gho-sub-article .field--name-field-hero-image.gho-bleed .media--view-mode-hero-image {
  position: relative; /* for pseudo */
  margin-bottom: -12rem; /* match height of pseudo */
}

.gho-sub-article .field--name-field-hero-image.gho-bleed .media--view-mode-hero-image:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 12rem;
  margin: 0 10%;
  background: white;
}

.gho-sub-article .field--name-field-hero-image.gho-bleed img {
  width: 100%;
  height: auto;
}

.gho-sub-article .article__main-title {
  max-width: 480px;
  color: black;
  font-size: 3em;
  font-family: serif;
  font-weight: 700;
  line-height: 1;
}

.gho-sub-article .field--name-field-hero-image ~ .field {
  position: relative;
  z-index: 2;
  max-width: 820px;
  margin: 0 calc(10% + 4rem);
}
